* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 60px;
  background-color: #747d8c;
}

.menu {
   list-style-type: none;
}

.menu-item-link {
  font-size: 20px;
  color: white;
  text-decoration: none;
}

body {
  padding-bottom: 60px;
}

.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.main-content {
  padding-top: 40px;
}

h1 {
  text-align: center;
  font-size: 35px;
  margin-bottom: 25px;
}

.bg-blue {
  background-color: #4987e8;
}

.bg-yellow {
  background: #ffff00;
}

table {
  border: 1px solid black;
  width: 600px;
  text-align: center;
  margin: 0 auto;
}

thead {
  font-weight: 700;
  text-transform: uppercase;
}

th {
  border: 1px solid black;
  padding: 5px 10px;
}

td {
  border: 1px solid black;
  padding: 5px 10px;
}


