* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  line-height: normal;
}

body {
    padding-bottom: 60px;
}
header {
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 60px;
  background-color: #747d8c;
}

.menu {
  list-style-type: none;
}

.menu-item {
  display: inline-block;
}

.menu-item:not(:last-child) {
  margin-right: 20px;
}

.menu-item-link {
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.container {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
}

.form {
  padding-top: 40px;
}

h1 {
  text-align: center;
  font-size: 35px;
  margin-bottom: 25px;
  color: #2f3542;
}

.registration {
  background-color: #bdc3c7;
  width: 420px;
  padding: 30px;
  border: 2px solid #2c3e50;
  border-radius: 10px;
}

.input-row {
  margin-bottom: 10px;
}

span {
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.email {
  margin-right: 50px;
}

.password {
  margin-right: 17px;
}

.confirmation {
  margin-right: 5px;
}

.btn {
  width: 75px;
  height: 30px;
  border-radius: 5px;
  background-color: #2c3e50;
  color: #fff;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1.6px;
}

.authorization {
  background-color: #bdc3c7;
  width: 350px;
  padding: 30px;
  border: 2px solid #2c3e50;
  border-radius: 10px;
}

p {
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 5px;
}

.search {
    margin: 0 auto;
  background-color: #bdc3c7;
  width: 1050px;
  padding: 30px;
  border: 2px solid #2c3e50;
  border-radius: 10px;
}

.brand {
  margin-right: 24px;
}

.country {
  margin-right: 10px;
}

.price {
  margin-right: 27px;
}

.year {
  margin-right: 31px;
}

.color {
    margin-right: 24px;
}

.btn.btn3 {
    margin-top: 10px;
}