$maxWidth: 1330px;
$primaryFont: "GraphikLCG";
$primaryTextColor: #000;
$primaryTextSize: 20px;

/* Color */
$orange: #ff6336;
$salmon: #ff9c7d;
$milk: #fff8e4;
$light-blue: #c9e8f2;
$beige: #dabc98;
$white: #fff;

// Точки перериву
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: $primaryFont;
  font-size: $primaryTextSize;
  color: $primaryTextColor;
}

p {
  font-weight: 400;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
.container {
  max-width: $maxWidth;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $breakpoint-sm) {
    max-width: 540px;
  }

  @media (min-width: $breakpoint-md) {
    max-width: 720px;
  }

  @media (min-width: $breakpoint-lg) {
    max-width: 960px;
  }

  @media (min-width: $breakpoint-xl) {
    max-width: 1140px;
  }

  @media (min-width: $breakpoint-xxl) {
    max-width: 1330px;
  }
}

/* header */
.header .container {
  padding-left: 0;
  padding-right: 0;
}

.header {
  background-color: $white;
  border-bottom: 1px solid #cccccc;
}

.logo {
  margin-top: 34px;
  margin-bottom: 33px;
}

.header-menu {
  justify-content: space-between;
}

.inner-container {
  display: flex;
}

button.button-menu {
  display: block;
  background-color: transparent;
  color: black !important;
  border: 0;
  svg {
    width: 40px;
  }

  @media screen and (min-width: 992.9px) {
    display: none !important;
  }
}

.close-menu {
  position: absolute;
  right: 20px;
  top: 20px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Установка ширины на 100% */
  gap: 25px;
  font-size: 0;
  overflow: hidden;

  @media screen and (max-width: $breakpoint-lg) {
    gap: 40px;
  }

  @media screen and (min-width: 992.9px) {
    gap: 15px;
  }

  @media screen and (min-width: $breakpoint-xl) {
    gap: 20px;
  }

  @media screen and (min-width: $breakpoint-xxl) {
    gap: 25px;
  }
}

.mobile-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: $breakpoint-lg) {
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $milk;
    transition: 0.2s all ease-in-out;

    transform: translateX(-100%);
    display: none;
  }

  @media screen and (min-width: 992.9px) {
    gap: 70px;
  }

  @media screen and (min-width: $breakpoint-xl) {
    gap: 200px;
  }

  @media screen and (min-width: $breakpoint-xxl) {
    gap: 338px;
  }
}

.show-menu {
  .mobile-wrapper {
    display: flex;
  }

  &.slide-menu .mobile-wrapper {
    transform: translateX(0);
  }
}

.menu {
  display: flex;
  column-gap: 57px;
  margin: 39px 0 36px;
  padding: 0;

  @media screen and (min-width: 992.9px) {
    gap: 35px;
  }

  @media screen and (min-width: $breakpoint-xl) {
    gap: 40px;
  }

  @media screen and (min-width: $breakpoint-xxl) {
    gap: 57px;
  }
}

.menu-item-link {
  color: $primaryTextColor;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */
  transition: 0.2s linear all;
}

.menu-item-link:hover {
  color: $orange;
}

.right-side {
  display: flex;
  margin-top: 26px;
  margin-bottom: 24px;
}

.header-btn {
  width: 120px;
  height: 45px;
}

.header-btn1 {
  margin-right: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: $white;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 45px; /* 281.25% */
  transition: 0.2s linear all;
}

.header-btn1:hover {
  background-color: $salmon;
  transform: translateY(-2px);
}

.header-btn2 {
  background-color: $orange;
  border: none;
  color: $white;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 45px; /* 281.25% */
  transition: 0.2s linear all;
}

.header-btn2:hover {
  background-color: $salmon;
  transform: translateY(-2px);
}

/* Main page */
.main-page {
  padding-top: 129px;
  padding-bottom: 172px;
}

.content-box {
  display: flex;
  position: relative;

  @media screen and (max-width: $breakpoint-lg) {
    display: block;
  }
}

h1 {
  font-style: normal;
  line-height: 70px; /* 107.692% */
  margin-bottom: 51px;

  @media screen and (max-width: 575.9px) {
    text-align: center;
    margin: 0 auto;
    font-size: 35px;
  }

  @media screen and (min-width: $breakpoint-sm) {
    text-align: center;
    margin: 0 auto;
    font-size: 45px;
    width: 450px;
  }

  @media screen and (min-width: $breakpoint-md) {
    font-size: 50px;
    width: 500px;
  }

  @media screen and (min-width: $breakpoint-lg) {
    text-align: start;
    font-size: 58px;
    width: 500px;
  }

  @media screen and (min-width: $breakpoint-xl) {
    font-size: 60px;
    width: 525px;
  }

  @media screen and (min-width: $breakpoint-xxl) {
    font-size: 65px;
    width: 552px;
  }
}

.left-text {
  font-style: normal;
  line-height: 35px; /* 140% */
  margin-bottom: 50px;

  @media screen and (max-width: 575.9px) {
    text-align: center;
    margin: 0 auto;
    font-size: 12px;
  }

  @media screen and (min-width: $breakpoint-sm) {
    text-align: center;
    margin: 0 auto;
    font-size: 15px;
    width: 410px;
  }

  @media screen and (min-width: $breakpoint-md) {
    font-size: 18px;
    width: 420px;
  }

  @media screen and (min-width: $breakpoint-lg) {
    margin: 0;
    text-align: start;
    font-size: 20px;
    width: 425px;
  }

  @media screen and (min-width: $breakpoint-xl) {
    font-size: 22px;
    width: 450px;
  }

  @media screen and (min-width: $breakpoint-xxl) {
    font-size: 25px;
    width: 471px;
  }
}

.btn-box {
  @media screen and (max-width: 575.9px) {
    display: block;
  }

  @media screen and (min-width: $breakpoint-sm) {
    display: flex;  
    justify-content: center;
  }

  @media screen and (min-width: $breakpoint-lg) {
    justify-content: start;
  }
}

.main-btn {
  width: 160px;
  height: 60px;
  margin-bottom: 25px;
  transition: 0.2s linear all;
  font-size: 16px;

  @media screen and (max-width: 575.9px) {
    display: block;
    margin: 0 auto;
  }
}

.main-btn:hover {
  background-color: $salmon;
  transform: translateY(-2px);
}

.main-btn1 {
  background: $orange;
  color: $white;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  line-height: 60px; /* 375% */
  border: none;

  @media screen and (max-width: 575.9px) {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 15px;
  }

  @media screen and (min-width: $breakpoint-sm) {
    margin-right: 10px;
  }

}

.main-btn2 {
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: $white;
  color: black;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  line-height: 60px; /* 375% */
}

.descr-btn {
  color: black;
  font-style: normal;
  line-height: 25px; /* 166.667% */

  @media screen and (max-width: 575.9px) {
    text-align: center;
    margin: 0 auto;
    font-size: 10px;
  }

  @media screen and (min-width: $breakpoint-sm) {
    text-align: center;
    margin: 0 auto;
    font-size: 11px;
  }

  @media screen and (min-width: $breakpoint-md) {
    font-size: 12px;
  }

  @media screen and (min-width: $breakpoint-lg) {
    text-align: start;
    margin: 0;
    font-size: 13px;
  }

  @media screen and (min-width: $breakpoint-xl) {
    font-size: 14px;
  }

  @media screen and (min-width: $breakpoint-xxl) { 
    font-size: 15px;
  }
}

.main-img {
  position: absolute;
  right: 0;
  top: 0;

  @media screen and (max-width: 575.9px) {
    display: none;
  }

  @media screen and (min-width: $breakpoint-sm) {
    display: none;
  }

  @media screen and (min-width: $breakpoint-lg) {
    display: flex;
    width: 480px;
    margin-top: 90px;
  }

  @media screen and (min-width: $breakpoint-xl) {
    width: 650px;
    margin-top: 50px;
  }

  @media screen and (min-width: $breakpoint-xxl) { 
    width: 759px;
    height: 529px;
  margin-top: 22px;
  margin-bottom: 10px;
  }
}

/* Companies page */
.companies-section {
  background: $salmon;
  padding-top: 108px;
  padding-bottom: 104px;
}

.wrapper-companies h2 {
    text-align: center;
    font-style: normal;
    line-height: 60px; /* 120% */
    margin: 0 auto;

    @media screen and (max-width: 575.9px) {
      font-size: 38px;
      margin-bottom: 50px;
    }
  
    @media screen and (min-width: $breakpoint-sm) {
      font-size: 40px;
      width: 540px;
      margin-bottom: 50px;
    }

    @media screen and (min-width: $breakpoint-md) {
      font-size: 42px;
      width: 600px;
    }
  
    @media screen and (min-width: $breakpoint-lg) {
      font-size: 45px;
      width: 650px;
    margin-bottom: 82px;
    }
  
    @media screen and (min-width: $breakpoint-xl) {
      font-size: 48px;
      width: 700px;
    }
  
    @media screen and (min-width: $breakpoint-xxl) { 
      font-size: 50px;
       width: 720px;
    }
}

.companies-icons {
    column-gap: 104px;
    margin-right: 20px;
    margin-left: 20px;

    @media screen and (max-width: 575.9px) {
      display: block;
      text-align: center;
    }
  
    @media screen and (min-width: $breakpoint-sm) {
      display: block; 
      text-align: center;
    }

    @media screen and (min-width: $breakpoint-lg) {
      display: flex;
    align-items: center;
    }
}

.company:not(:last-child) {
  @media screen and (max-width: 575.9px) {
    margin-bottom: 40px;
  }

  @media screen and (min-width: $breakpoint-sm) {

    margin-bottom: 40px;
  }

  @media screen and (min-width: $breakpoint-lg) {
      margin: 0;
  }
}
